body{
    margin: 0;
    box-sizing: border-box;
    min-width: 100%;
}

html, body{
    height: 100%;
    min-width: 100%;
}

.tudo{
    min-height: 89.4vh;
    position: relative;
}

footer{
    position: relative;
    bottom: 0;
    width:100%;
    background: black;
    padding: 10px;
    left: 0;
    height: 70px;
    border-top: 1px solid;
}

footer p{
    color:antiquewhite;
    font-size: 15px;
}

i{
    font-size: 20px;
    color: white;
}

i:hover{
    color:darkred
}

li{
    padding-right: 10px;
}